body{
  /* background-color: rgb(67, 54, 54); */
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRTjMrUwybG9wgTEkP-Ih_ts7HYN4tgsVNug&usqp=CAU);
  background-position: center;
  background-size: cover ;
  background-repeat: no-repeat;
}